backend/env
__pycache__
/data
backend/paxdeimaps/migrations
backend/assets/
/media
frontend/www/.DS_Store
frontend/www/assets/.DS_Store
frontend/.DS_Store
backend/data/json/localisation_en.json
backend/data/json/StaticDataBundle.json
CLAUDE.md
archives.md