<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>Pax Dei Archives is a fan-made site and not affiliated with Pax Dei or MAINFRAME.</p>
            <p>All intellectual property and assets related to Pax Dei game are reserved by MAINFRAME INDUSTRIES.</p>
            <a href="admin.html">Admin</a>
            <a href="#">|</a>
            <a href="privacy.html">Privacy Policy</a>
        </div>
    </div>
</div>
<div class="corner-credit">
    <div class="corner-credit-top-row"> <img src="frontend/www/assets/phoenix.png" alt="Phoenix profile image" class="profile-image" />
        <span class="nav-text-profile">Made by Phoenix ✨</span>
    </div>
    <div id="utc-clock-display" class="utc-clock"></div>
</div>
