/* _footer.css */

footer {
    text-align: center;
    padding: 40px 0;
    margin-top: 60px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    background-color: #27292a;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

footer a {
    color: var(--gold-color);
    transition: all 0.3s ease;
}

footer a:hover {
    color: var(--light-gold-color);
}